﻿@{
    ViewData["Title"] = "Populate Linked Data";
}

@section ContentHeader {
    <h1>@ViewData["Title"]<small></small></h1>
}

<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>This sample demonstrates how to refresh related fields when a joined field value changes.</p>
    <p>Open an order record, and change the Customer. Dialog will re-populate its customer details.</p>
    <p>This is performed with a call to Retrieve method of Customer service.</p>

    <p style="text-align: right;"><b>Source Files:</b> 
        @Html.AppSourceFile("Index.cshtml"), 
        @Html.AppSourceFile("PopulateLinkedDataDialog.ts")
        @Html.AppSourceFile("PopulateLinkedDataGrid.ts")
        @Html.AppSourceFile("PopulateLinkedDataForm.cs")
    </p>
</div>

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new JeffMRP2.BasicSamples.PopulateLinkedDataGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>